<phpunit verbose="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
         

    <testsuites>
        <testsuite name="test-suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>